* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #686d6d;
}

html {
    width: 100%;
}

/* body */
body {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}

/*logo*/
.logo{
    width: 160px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
}

nav{
    background-color: white;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */
    width: 100%;
    
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    border-radius: 30px;
    color: #AA78A6;
}

.menu-icon {
    width: 5em;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #B4D6D3;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #779290;
}

.dojo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    /* margin-top: 25px; */

}

main {
    width: 100%;
}

/*Intro to adoption page */
.introduction {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-row-gap: 15px;
    justify-content: center;
}

.container {
    padding: 2rem;
}
/* 
.slider-wrapper{
    position: relative;
    width: 40%;
    margin: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem #00000040;
    border-radius: 0.5rem;
} */

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    /* object-fit: cover; */
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
}

.intro-div {
    align-content: center;
    text-align: center;
}

.intro-text {
    color: #686d6d;
    line-height: 2em;
    width: 75%;
    margin: auto;
    padding: 10px;
}

#email {
    text-decoration: underline;
    color:#686d6d
}

h2 {
    color: #779290;
    text-align: center;
    margin: 5%;
}

/* Adoption Process */
.step-headers {
    text-align: center;
}

.adoption-process {
    text-align: center;
    margin: 50px;

}

.adoption-process p {
    width: 70%;
    margin: auto;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}

.steps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4, 1fr);
    row-gap: 30px;
    color: #686d6d;
}

.step {
    margin-top: 10px;
    background-color: #B4D6D3;
    width: 85%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

.step :hover {
    transform: scale(1.2);
}

/* Available Animals */
.animal-type {
    color: #7e808f;
    text-align: center;
    margin: 5%;
    border-radius: 15px;
}

/* Available Dogs */
.available-dogs {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
    width: 85%;
    height: 70%;
    margin: auto;
}

.available-dog {
    background-color: #B4D6D3;;
}


/* Available Cats */
.available-cats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    width: 85%;
    height: 70%;
    margin: auto;
    margin-bottom: 10%;
}

.available-cat {
    background-color: #B4D6D3;;
    justify-content: center;
}

.animal-pic {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.dog-info, .cat-info {
   margin: auto;
   text-align: center;
   margin-bottom: 20%;
}

.copyright {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
    color: #686D6D;
}

.footer-container-link {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    margin-bottom: 50px;
}

.footer-link:link {
    color:black ;
    text-decoration: none;
}
.footer-link {
    color:black;
    text-decoration: none;
}

.footer-link:hover { 
    color:#AA78A6;
}

.footer-link:visted:hover {
    color:rgb(0, 0, 0);
} 

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    column-gap: 20px;
}

.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .nav-bar{
        display: none;
    }

    .footer-container-link {
        grid-template-columns: repeat(5, 60px);
}
}

@media (min-width:600px) and (max-width: 1100px) {
.steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    row-gap: 30px;
} 

.available-dogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}

.available-cats {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
}

.nav-bar {
    display: none;
} 

}

@media (min-width: 1100px) {
    .introduction {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 15px;
        /* padding: 20px; */
        background-color: #ebeeee;
    }

    .slider-wrapper{
        position: flex;
        justify-content: left;
        width: 40%;
        margin: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem #00000040;
        border-radius: 0.5rem;
    }

    .steps {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        row-gap: 30px;
    } 

    .available-dogs {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    }

    .available-cats {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 30px;
    }

    .button {
        display: none;
    }
}