html {
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerOne {
    color: #779290;
    text-align: center;
    font-size: 3.5em;
    margin: 30px;
}

.happyDog {
    height: 430px;
    width: 450px;
    margin: auto;
    margin-top: 100px;
    display: block;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.paragraphOne {
    color: #686D6D;
    line-height: 2em;
    margin: 5%;
    font-size: 1.28em;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid: gap 20px;
}
.div-container {
    margin: auto;
}


.why-donate,
.howto-donate {
    color: #686D6D;
    line-height: 2em;
    margin: 20px;
    text-align: center;
    border: 5px solid #AA78A6;
    width: fit-content;
    height: fit-content;
}

.why-donate ul li {
    font-size: 18px;
}
.why-donate ul p {
    font-size: 18px;
}
.howto-donate ul {
    list-style-type: none;
}

.sub-list {
    display: flex;
    flex-direction: column;
    list-style-type:disc !important;
    text-align: left;
    align-items: center;
}

#wishlist {
    font-weight: bold;
    text-align: center;
}

.container {
   display: grid;


}

h2 {
    text-align: center;
    color:#779290;
    margin: 15px;

}

.leftHeader {
    color: white;
}

.list {
    font-weight: bold;
    list-style: none;
    text-align: center;
    margin: 5px;
}



.meetCoco {
    background-color:#B4D6D3;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    margin: 7%;
}
.biscuit {
    margin: 5% auto;
}

.toDonate {}



/* header */
/* .logo {
    width: 160px;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
}

nav {
    background-color: white;
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 100px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    border-radius: 30px;
    color: #AA78A6;
}

.menu-icon {
    width: 5em;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #B4D6D3;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
} */

/*NAV BAR CSS STARTS HERE*/
.logo{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 6rem;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav .nav-bar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav .nav-bar a:hover{
    border-radius: 30px;
    color: #AA78A6;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #779290;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
    text-decoration: none;
    color: black;
}
.sidebar a:hover {
    color: #AA78A6;
}
.button{
    display: none;
}

/*NAV BAR CSS ENDS HERE*/

/* THE NEW FOOTER */
.copyright {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
    color: #686D6D;
}

.footer-container-link {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    margin-bottom: 50px;
}

.footer-link:link {
    color:black ;
    text-decoration: none;
}
.footer-link {
    color:black;
    text-decoration: none;
}

.footer-link:hover { 
    color:#AA78A6;
}

.footer-link:visted:hover {
    color:rgb(0, 0, 0);
} 

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    column-gap: 20px;
    height: 35px;
}

.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
}

.icon-container a:hover .icon-footer {
    fill: #AA78A6;
}

.icon-container a:hover svg {
    height: 40px;
    width: 40px;
}



/* FOOTER  */




/* end of footer */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:#686D6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #768d8d;
    
  }
  
  .formDonate {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .form {
    margin:7% auto;
  }
 @media (min-width: 769px) and (max-width:1025px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px; }
 }

@media (max-width: 600px) {
    .nav-bar {
        display: none;
    }

    .footer-container-link {
        grid-template-columns: (5, 60px);
    }
}

@media (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .why-donate{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .howto-donate {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .meetCoco {
        grid-column: 1/2;
        grid-row: 1/3;
    }
}

/* USE FOR ONLY TABLET*/
/* USE ONLY FOR NAV BAR*/
@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1%;
    }

    .button{
        display: flex;
        align-items: center;
        margin-right: 10%;
    }
    nav .nav-bar {
        display: none;
    }
}