*{
 
    padding: 0;
 
    margin: 0;
 
}
 
 
body{
 
    min-height: 100vh;
 
    background-color: white;
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
 
.logo{
 
    width: 150px;
 
    height: 100px;
 
    display: flex;
 
    justify-content: center;
 
    align-items: center;
 
}
 
nav{
 
    height: 6rem;
 
    background-color: white;
 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
 
    display: flex;
 
    align-items: center;
 
}
 
nav ul{
 
    width: 100%;
 
    list-style: none;
 
    display: flex;
 
    justify-content: flex-end;
 
    align-items: center;
 
}
 
nav li{
 
    height: 100px;
 
}
 
nav .nav-bar a{
 
    height: 100%;
 
    padding: 0 30px;
 
    text-decoration: none;
 
    display: flex;
 
    align-items: center;
 
    color: black;
 
}
 
nav .nav-bar a:hover{
 
    border-radius: 30px;
 
    color: #AA78A6;
 
}
 
.sidebar{
 
    position: fixed;
 
    top: 0;
 
    right: 0;
 
    height: 100vh;
 
    width: 250px;
 
    z-index: 999;
 
    background-color: #B4D6D3;
 
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
 
    display: none;
 
    flex-direction: column;
 
    align-items: flex-start;
 
    justify-content: flex-start;
 
}
 
.sidebar li{
 
    width: 100%;
 
}
 
.sidebar a{
 
    width: 100%;
 
    text-decoration: none;
 
    color: black;
 
}
 
.sidebar a:hover {
 
    color: #AA78A6;
 
}
.hamburger {
    display: none;
}
/*NAV BAR CSS ENDS HERE*/
.main {
    display: flex;
    flex-direction: column;
}
.hamburger {
    display: inline;
    width: 5em;
}
 

.pic{
    display: flex;
    width: 100%;
 
}

h1{
    background-image: url(background.png);
    display: flex;
    height: 200px;
    width: 100%;
    font-size: 4em;
    justify-content: center;
    text-align: center;
    color: #AA78A6;
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
h3{
    font-size: 2em;
    color: #686D6D;
}
p{
 
    display: flex;
 
    justify-content: center;

}
.section{
    margin: 5% 0;
    background-color: #B4D6D3;
    color: grey;
    line-height: 2em;
    padding: 7%;
    margin: 5% 0;
}
.sec2{
    background-color: white;
    display: flex;
    gap: 50px;
    justify-content: center;
    /* margin-left: 10px;
    margin-right: 20px; */
    margin-bottom: 100px;
    font-size: 60px;
    
}

.sec2 div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pet-responsive {
    width: 300px;
    height: 250px;
    
}
.image-div {  
 
    display: grid;
 
    grid-template-columns: repeat(4, 1fr);
 
    grid-template-rows: 1fr;
 
    column-gap: 20px;
 
    width: 90%;
 
    margin: 6% auto;
}
  
.pet{
    margin-top: 100px;

    height: 300px;

}

.sec3{
 
    background-color: #B4D6D3;
    padding: 7%;
    text-align: center;
    line-height: 2em;
    color: #686D6D;
    margin-bottom: 100px;
 
}
/* FOOTER */
.copyright {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
}
.footer-container-link {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    margin-bottom: 50px;
}
.footer-link:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.footer-link-visted {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.footer-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.footer-link:visted:hover {
    color:rgb(0, 0, 0);
}
.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
    margin-left: 50px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
}

/* USE FOR ONLY TABLET*/
/* USE ONLY FOR NAV BAR*/
@media (max-width: 600px) {
    .nav-bar{
        display: none;
    }

    .footer-container-link {
        grid-template-columns: repeat(5, 60px);
}
}

@media (max-width: 800px) {

    .nav-bar{
        display: none;
    }

    .image-div {  

        grid-template-columns: 1fr;

        grid-template-rows: repeat(4, 1fr);

        column-gap: 10px;

       margin: 6%, auto;
}
    /* .pet-responsive {
        width: 100%;
    } */
}

@media (min-width: 801px) and (max-width: 1024px) {
.image-div {  

    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: repeat(2, 1fr);

    column-gap: 10px;

   margin: 6%, auto;
}

/* .sec2 {
    display: flex;
    flex-direction: column;
} */

/* .sec2{
    background-color: white;
    display: flex;
    width: 200px;
    gap: 50px;
    margin-left: 220px;
    font-size: 60px;
    
} */

.hamburger {
display: none;
}
}

@media (min-width: 1024px) {
.hamburger {
    display:  none;
}
}


@media screen and (max-width: 768px) and (min-width: 400px) {
    .sec2 {
        gap: 0;
    }
}

@media screen and (max-width: 400px) {
    .sec2 {
        flex-direction: column;
        gap: 0;
    }
}