*{
    padding: 0;
    margin: 0;
}


body{
    min-height: 100vh;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 6rem;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav .nav-bar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav .nav-bar a:hover{
    border-radius: 30px;
    color: #AA78A6;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #B4D6D3;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
    text-decoration: none;
    color: black;
}
.sidebar a:hover {
    color: #AA78A6;
}
.button{
    display: none;
}
/*NAV BAR CSS ENDS HERE*/


.pic{
    position: absolute;
    padding-top: 100px;
    display: flex;
    width: 100%;
}

h1{
    position: relative;
    display: flex;
    font-size: 70px;
    justify-content: center;
    z-index: 5;
    padding-top: 280px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    padding-top: 50px;
    font-size: 30px;
}
p{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
.section{
    background-color: #B4D6D3;
    box-shadow: rgba(0, 0, 0, 0.4);
}
/* .sec2{
    background-color: white;
    display: flex;
    width: 200px;
    gap: 50px;
    margin-left: 220px;
    font-size: 60px;
    jus
} */
.sec2 {  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr;
    gap: 40px;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    /* justify-content: center; */
    /* grid-auto-flow: row; */
    /* grid-template-areas: ". . . . ."; */
  }
  
.pet{
    margin-top: 100px;
    height: 300px;
    /* width: auto; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    /* grid-auto-flow: row; */
    /* grid-template-areas: ". . . . ."; */

}

.sec3{
    background-color: #B4D6D3;
    margin-bottom: 100px;

}

.copyright {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
    color: #686D6D;
}
.footer-container-link {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    margin-bottom: 50px;
}
.footer-link:link {
    color:black ;
    text-decoration: none;
}
.footer-link {
    color:black;
    text-decoration: none;
}

.footer-link:hover { 
    color:#AA78A6;
}

/* .footer-link:visited:hover {
    color:rgb(0, 0, 0);
}  */

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    justify-content: center;
    border-top: 1px solid #b5b5b5;
    padding-top: 10px;
    column-gap: 20px;
}
.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
}


/* USE FOR ONLY TABLET*/
/* USE ONLY FOR NAV BAR*/
@media (max-width: 768px) {
    .button{
        display: flex;
        align-items: center;
        margin-right: 10%;
    }
    nav .nav-bar {
        display: none;
    }

    /* .pet{
        margin-top: 100px;
        height: 220px;
        width: auto;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(5, 1fr);
    }
} */
