* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #AA78A6;
}

.info-content {
    color: #686D6D;
    line-height: 2em;
}

ul li {
    color: #686D6D;
    line-height: 2em;
}

header {
    height: 100px;
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    color: #779290;
}

.header-container {
    /* background-color :#779290; */
    width: 50%;
    margin: auto;
}

.foster-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
}

.foster-image-dog {
    width: 80%;
    margin: auto;
    padding: 10%;
}

.foster-image-cat {
    width: 80%;
    padding: 10%;
}

.foster-info {
    margin: 20px;
    margin-top: 5px;
} 
/* FOOTER  */
.copyright {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 15px;
    color: #686D6D;
}

.footer-container-link {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    margin-bottom: 50px;
}

.footer-link:link {
    color:black ;
    text-decoration: none;
}
.footer-link {
    color:black;
    text-decoration: none;
}

.footer-link:hover { 
    color:#AA78A6;
}

.footer-link:visted:hover {
    color:rgb(0, 0, 0);
} 

.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    justify-content: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    column-gap: 20px;
    height: 35px;
}

.footer-header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
}

.icon-container a:hover .icon-footer {
    fill: #AA78A6;
}

.icon-container a:hover svg {
    height: 40px;
    width: 40px;
}
  
/*NAV BAR CSS STARTS HERE*/
.logo{
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 6rem;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 100px;
}
nav .nav-bar a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav .nav-bar a:hover{
    border-radius: 30px;
    color: #AA78A6;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:#B4D6D3;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    color: #AA78A6;
}
.button{
    display: none;
}
/*NAV BAR CSS ENDS HERE*/

/* USE FOR ONLY TABLET*/
/* USE ONLY FOR NAV BAR*/
@media (max-width: 768px) {
    .button{
        display: flex;
        align-items: center;
        margin-right: 10%;
    }
    nav .nav-bar {
        display: none;
    }
}

@media (max-width: 600px) {
    .foster-image-container {
        grid-template-columns: 1fr;
}
    .footer-container {
        width: 90%;
        position: relative;
    }

    .copyright {
        text-align: center;
    }

    .footer-container-link {
        grid-template-columns: repeat(5, 60px);
    }
}
